<!-- Use if you want to show previous and next for all posts. -->
{% assign user_url = site.url | append: site.baseurl %}
{% assign full_base_url = user_url | default: site.github.url %}

{% if page.previous.url %}
  <div class="col-5 sm-width-full left mr-lg-3 mt-3">
    <p class="h6 bold">Previous</p>
    <a class="no-underline border-top-thin py-1 block" href="{{ page.previous.url | prepend: full_base_url }}">

      <h3 class="bold h4 link-primary mb-1">{{ page.previous.title }}</h3>
      <p>{{ page.previous.content | markdownify | strip_html | truncatewords:20 }}</p>

    </a>
  </div>
{% endif %}

{% if page.next.url %}
  <div class="col-5 sm-width-full left mt-3">
    <p class="h6 bold">Next</p>
    <a class="no-underline border-top-thin py-1 block" href="{{ page.next.url | prepend: full_base_url }}">

      <h3 class="bold h4 link-primary mb-1">{{ page.next.title }}</h3>
      <p>{{ page.next.content | markdownify | strip_html | truncatewords:20 }}</p>

    </a>
  </div>
{% endif %}
