// Blue theme

// Color variables
$blue: #009DDB; //#009DDB;
$blue-light: #00b7ff;
$gray-dark: #393e46;
$gray: #40464f;
$gray-light: #89929a;
$gray-lightest: #e0e3e9;
$white: #fff;

// Config
$color-background: $gray;
$color-foreground: $white;

$color-dot-accent: $blue-light;
$color-title: $blue-light;

$color-body-text: $gray;
$color-text-accent: $blue;
$color-code: $blue;

$color-nav-link: $blue;
$color-primary-link: $blue;

$code-background-color: $gray;
$code-foreground-color: $gray-lightest;

$body-background-color: $gray-lightest;
$color-border: $gray-light;
