// Blue theme

// Color variables
$dark-blue: #003f66; //#009DDB;
$blue: #006eb3; //#009DDB;
$blue-light: #00a4e6;
$gray-dark: #393e46;
$gray: #40464f;
$gray-light: #89929a;
$gray-lightest: #e0e3e9;
$white: #fff;

// Config
$color-background: $gray;
$color-foreground: $white;

$color-body-text: $gray;
$color-text-accent: $blue-light;
$color-text-accent-secondary: $dark-blue;
$color-text-accent-secondary: $color-body-text;
$color-title: $blue-light;
$color-dot-accent: $color-text-accent;

$color-nav-link: $blue;
$color-primary-link: $blue;

$code-background-color: $gray;
$code-foreground-color: $gray-lightest;

$body-background-color: $gray-lightest;
$color-border: lighten($gray-light, 20%);
