:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 0;
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
}

code[class*="language-"] {
  @extend .container;

  display: block;
  margin: 0 auto;
}
