---
layout: default
---
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="" itemprop="name headline">{{ page.title | markdownify | unwrap }}</h1>

  <div class="my-3 border-top-thin">
    <p class="my-2 bold"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </div>

  <div class="prose" itemprop="articleBody">
      {{ content }}
  </div>

</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>
